<%= flash[:notice] %>

<div id='my_line'></div>
<div id='my_staked_chart'></div>

<h2>Imported Data</h2>
<%= form_tag import_session_history_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import CSV' %>
<% end %>

<table border="solid">
  <thead>
    <tr>
      <% @columns.each do |column| %>
        <th><%= column %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @sessions.each do |session| %>
      <tr>
        <td><%= session.id %></td>
        <td><%= session.session_id %></td>
        <td><%= session.started_by %></td>
        <td><%= session.created_at %></td>
        <td><%= session.summary_status %></td>
        <td><%= session.duration %></td>
        <td><%= session.worker_time %></td>
        <td><%= session.bundle_time %></td>
        <td><%= session.num_workers %></td>
        <td><%= session.branch %></td>
        <td><%= session.commit_id %></td>
        <td><%= session.started_tests_count %></td>
        <td><%= session.passed_tests_count %></td>
        <td><%= session.failed_tests_count %></td>
        <td><%= session.pending_tests_count %></td>
        <td><%= session.skipped_tests_count %></td>
        <td><%= session.error_tests_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

       function drawChart() {

         var data = google.visualization.arrayToDataTable([
          ['created_at', 'duration']
           <% @sessions.each do |session| %>
             ,['<%= session.created_at %>',  <%= session.duration %>]
         <% end %>
        ]);

         var options = {
           title: 'Company Performance',
           curveType: 'function',
           legend: { position: 'bottom' }
         };

         var chart = new google.visualization.LineChart(document.getElementById('my_line'));

         chart.draw(data, options);
       }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

 function drawChart() {

   var my_key = { 'passed': 0, 'error': 1, 'failed': 2, 'stopped': 3 };
   var data = google.visualization.arrayToDataTable([
    ['created_at', 'summary status']
     <% @sessions.each do |session| %>
       ,['<%= session.created_at %>', my_key['<%= session.summary_status %>']]
   <% end %>
  ]);

   var options = {
     title: 'Company Performance',
     curveType: 'function',
     legend: { position: 'bottom' }
   };

   var chart = new google.visualization.BarChart(document.getElementById('my_staked_chart'));

   chart.draw(data, options);
 }
</script>
